
.footer {
    margin-top: 230px;
    color: white;
    padding: 130px;
    background-image: linear-gradient(rgba(20, 19, 19, 0.6), rgba(20, 19, 19, 0.6)), url("../assets/packages/o6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-box h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
}

.footer-box h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-box p {
    margin: 5px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.email-btn {
    width: 181.52px;
    height: 44px;
    border-radius: 5px;
    background-color: #1BBC9B;
    color: #FFFFFF;
    border: none;
}

.email-btn:hover {
    background: #18a287;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(16, 185, 129, 0.3);
}